
<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
	<div class="jumbotron">
		
	  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			<h2 style="font-family:arial; color:white">Registrar</h2>

			<p><div><t style="font-family:arial; color:white"><%= f.label :nome %></t><br />
		  <%= f.text_field :nome %></div></p>

		  <p><div><t style="font-family:arial; color:white"><%= f.label :email %></t><br />
		  <%= f.email_field :email, :autofocus => true %></div></p>

		  <p><div><t style="font-family:arial; color:white"><%= f.label :senha %></t></div>
		  <div><%= f.password_field :password %></div></p>

		  <p><div><t style="font-family:arial; color:white"><%= f.label :confirmação_de_senha %></t>
		  <%= f.password_field :password_confirmation %></div></p>

		  </p><div><%= f.submit "Registrar", class: "btn btn-primary btn-lg" %></div></p>

<!-- 		  <%= render "devise/shared/links" %> -->
		<% end %>
	</div>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>




