<%= simple_form_for(@user) do |f| %>
	<%= f.error_notification %>
  <% $contador = 1 %>

  <table class="table table-condensed" >
  	<%= f.fields_for :games do |builder| %>
	  	<%= render "game_fields", :f => builder %>
  	<% end %>
  </table>

  <div class="form-actions">
    <% if @user.games.first.score1 == nil %>
      <%= f.button :submit,"Salvar", class: "btn btn-primary btn-large" %> (verifique se todos os jogos estão preenchidos)
    <% else %>
      <%= f.button :submit,"Atualizar Jogos", class: "btn btn-primary btn-large" %> (verifique se todos os jogos estão preenchidos)
    <% end %>  
  </div>


<% end %>